<!DOCTYPE html>
<html>
  <head>
    <title>Chatweb</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    
    <%= stylesheet_link_tag "application", :media=>"all" %>
    <%= javascript_importmap_tags %>
  </head>

  <body class="body1">
    <%= render partial: 'layouts/theme' %>
    <%= yield %>
  </body>
</html>
